@font-face {
    font-family: arenafont;
    src: url(arenafont.woff2);
    src: url(arenafont.woff2) format("embedded-opentype"),url(arenafont.woff2) format("woff2"),url(arenafont.woff2) format("woff"),url(arenafont.woff2) format("truetype"),url(arenafont.woff2) format("svg");
    font-weight: 400;
    font-style: normal
}

[class^=icon-]:before,[class*=" icon-"]:before {
    font-family: arenafont;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-left-open-big:before {
    content: "\e800"
}

.icon-right-open-big:before {
    content: "\e801"
}

.icon-down-open-big:before {
    content: "\e802"
}

.icon-up-open-big:before {
    content: "\e803"
}

.icon-up-open-mini:before {
    content: "\e804"
}

.icon-right-open-mini:before {
    content: "\e805"
}

.icon-left-open-mini:before {
    content: "\e806"
}

.icon-down-open-mini:before {
    content: "\e807"
}

.icon-up-open:before {
    content: "\e808"
}

.icon-right-open:before {
    content: "\e809"
}

.icon-left-open:before {
    content: "\e80a"
}

.icon-down-open:before {
    content: "\e80b"
}

.icon-mail-2:before {
    content: "\e80c"
}

.icon-heart:before {
    content: "\e80d"
}

.icon-cancel:before {
    content: "\e80e"
}

.icon-cancel-3:before {
    content: "\e80f"
}

.icon-globe:before {
    content: "\e810"
}

.icon-plus:before {
    content: "\e811"
}

.icon-minus:before {
    content: "\e812"
}

.icon-cogs:before {
    content: "\e813"
}

.icon-trash:before {
    content: "\e814"
}

.icon-trash-1:before {
    content: "\e815"
}

.icon-star:before {
    content: "\e816"
}

.icon-heart-filled:before {
    content: "\e817"
}

.icon-heart-1:before {
    content: "\e818"
}

.icon-star-filled:before {
    content: "\e819"
}

.icon-facebook-rect-1:before {
    content: "\e81a"
}

.icon-facebook-2:before {
    content: "\e81b"
}

.icon-wrench:before {
    content: "\e81c"
}

.icon-wrench-2:before {
    content: "\e81d"
}

.icon-delete:before {
    content: "\e81e"
}

.icon-down-dir:before {
    content: "\e820"
}

.icon-up-dir:before {
    content: "\e821"
}

.icon-search-1:before {
    content: "\e82c"
}

.icon-mail-1:before {
    content: "\e82d"
}

.icon-heart-2:before {
    content: "\e82e"
}

.icon-heart-empty:before {
    content: "\e82f"
}

.icon-star-1:before {
    content: "\e830"
}

.icon-star-empty:before {
    content: "\e831"
}

.icon-star-half:before {
    content: "\e832"
}

.icon-spin4:before {
    content: "\e834"
}

.icon-spin5:before {
    content: "\e838"
}

.icon-spin6:before {
    content: "\e839"
}

.icon-view-1:before {
    content: "\e853"
}

.icon-mail:before {
    content: "\e854"
}

.icon-modify:before {
    content: "\e856"
}

.icon-view:before {
    content: "\e857"
}

.icon-phone:before {
    content: "\e858"
}

.icon-cog-1:before {
    content: "\e8bf"
}

.icon-cancel-1:before {
    content: "\e8cc"
}

.icon-cancel-circle:before {
    content: "\e8cd"
}

.icon-globe-1:before {
    content: "\e8e9"
}

.icon-wrench-1:before {
    content: "\e90c"
}

.icon-ok-1:before {
    content: "\e946"
}

.icon-ok-circled:before {
    content: "\e947"
}

.icon-ok-circled2:before {
    content: "\e948"
}

.icon-avatar:before {
    content: "\e96a"
}

.icon-bell-1:before {
    content: "\e96f"
}

.icon-lock_2:before {
    content: "\e97e"
}

.icon-lock-3:before {
    content: "\e97f"
}

.icon-settings:before {
    content: "\e981"
}

.icon-sharing:before {
    content: "\e982"
}

.icon-update:before {
    content: "\e984"
}

.icon-star-3:before {
    content: "\e9a0"
}

.icon-star-empty-1:before {
    content: "\e9a1"
}

.icon-cancel-2:before {
    content: "\e9a3"
}

.icon-down-2:before {
    content: "\e9b0"
}

.icon-left-2:before {
    content: "\e9b1"
}

.icon-right-2:before {
    content: "\e9b2"
}

.icon-up-2:before {
    content: "\e9b3"
}

.icon-grid3-1:before {
    content: "\e9e8"
}

.icon-grid4-1:before {
    content: "\e9ee"
}

.icon-list-2:before {
    content: "\e9ef"
}

.icon-electro-brands-icon:before {
    content: "\e9f0"
}

.icon-electro-add-to-cart-icon:before {
    content: "\e9f1"
}

.icon-electro-compare-icon:before {
    content: "\e9f2"
}

.icon-electro-marker-icon:before {
    content: "\e9f3"
}

.icon-electro-return-icon:before {
    content: "\e9f4"
}

.icon-electro-search-icon:before {
    content: "\e9f5"
}

.icon-electro-cart-icon:before {
    content: "\e9f6"
}

.icon-electro-support-icon:before {
    content: "\e9f7"
}

.icon-electro-track-order-icon:before {
    content: "\e9f8"
}

.icon-electro-user-icon:before {
    content: "\e9f9"
}

.icon-electro-wishlist-icon:before {
    content: "\e9fa"
}

.icon-electro-grid-view:before {
    content: "\e9fb"
}

.icon-electro-large-list-view:before {
    content: "\e9fc"
}

.icon-electro-list-view:before {
    content: "\e9fd"
}

.icon-electro-small-list-view:before {
    content: "\e9fe"
}

.icon-electro-thumb:before {
    content: "\e9ff"
}

.icon-electro-payment:before {
    content: "\ea00"
}

.icon-down-open-1:before {
    content: "\f004"
}

.icon-up-open-1:before {
    content: "\f005"
}

.icon-right-open-1:before {
    content: "\f006"
}

.icon-left-open-1:before {
    content: "\f007"
}

.icon-menu-2:before {
    content: "\f008"
}

.icon-th-list-1:before {
    content: "\f009"
}

.icon-th-thumb:before {
    content: "\f00a"
}

.icon-th-thumb-empty:before {
    content: "\f00b"
}

.icon-star-half-1:before {
    content: "\f022"
}

.icon-star-half_empty:before {
    content: "\f024"
}

.icon-user-3:before {
    content: "\f061"
}

.icon-user-male:before {
    content: "\f062"
}

.icon-user-female:before {
    content: "\f063"
}

.icon-facebook:before {
    content: "\f09a"
}

.icon-pinterest-circled:before {
    content: "\f0d2"
}

.icon-pinterest-squared:before {
    content: "\f0d3"
}

.icon-gplus-squared:before {
    content: "\f0d4"
}

.icon-gplus:before {
    content: "\f0d5"
}

.icon-money:before {
    content: "\f0d6"
}

.icon-sort:before {
    content: "\f0dc"
}

.icon-mail-alt:before {
    content: "\f0e0"
}

.icon-angle-left:before {
    content: "\f104"
}

.icon-angle-right:before {
    content: "\f105"
}

.icon-angle-up:before {
    content: "\f106"
}

.icon-angle-down:before {
    content: "\f107"
}

.icon-star-half-alt:before {
    content: "\f123"
}

.icon-euro:before {
    content: "\f153"
}

.icon-pound:before {
    content: "\f154"
}

.icon-dollar:before {
    content: "\f155"
}

.icon-rupee:before {
    content: "\f156"
}

.icon-yen:before {
    content: "\f157"
}

.icon-rouble:before {
    content: "\f158"
}

.icon-won:before {
    content: "\f159"
}

.icon-bitcoin:before {
    content: "\f15a"
}

.icon-youtube-squared:before {
    content: "\f166"
}

.icon-youtube:before {
    content: "\f167"
}

.icon-youtube-play:before {
    content: "\f16a"
}

.icon-instagram:before {
    content: "\f16d"
}

.icon-left:before {
    content: "\f177"
}

.icon-right:before {
    content: "\f178"
}

.icon-try:before {
    content: "\f195"
}

.icon-mail-squared:before {
    content: "\f199"
}

.icon-yahoo:before {
    content: "\f19e"
}

.icon-google:before {
    content: "\f1a0"
}

.icon-language:before {
    content: "\f1ab"
}

.icon-cc-visa:before {
    content: "\f1f0"
}

.icon-cc-mastercard:before {
    content: "\f1f1"
}

.icon-cc-discover:before {
    content: "\f1f2"
}

.icon-cc-amex:before {
    content: "\f1f3"
}

.icon-cc-paypal:before {
    content: "\f1f4"
}

.icon-cc-stripe:before {
    content: "\f1f5"
}

.icon-shekel:before {
    content: "\f20b"
}

.icon-facebook-official:before {
    content: "\f230"
}

.icon-pinterest:before {
    content: "\f231"
}

.icon-viacoin:before {
    content: "\f237"
}

.icon-facebook-3:before {
    content: "\f300"
}

.icon-facebook-rect:before {
    content: "\f301"
}

.icon-twitter:before {
    content: "\f302"
}

.icon-twitter-bird:before {
    content: "\f303"
}

.icon-facebook-squared:before {
    content: "\f308"
}

.icon-facebook-1:before {
    content: "\f30c"
}

.icon-facebook-circled:before {
    content: "\f30d"
}

.icon-facebook-squared-1:before {
    content: "\f30e"
}

.icon-amex:before {
    content: "\f326"
}

.icon-discover:before {
    content: "\f327"
}

.icon-visa:before {
    content: "\f328"
}

.icon-mastercard:before {
    content: "\f329"
}

.icon-instagram-1:before {
    content: "\f32d"
}

.icon-search:before {
    content: "\f50d"
}

/*# sourceMappingURL=/cdn/shop/t/4/assets/arenafont.css.map?v=39826811434746634091697025983 */
